//////////////////////////////////////////////////////////////////////////////////////////
// IMPORTS

@import "./assets/reset";
@import "./assets/mixins";
@import "./assets/responsive";
@import "./assets/typography";

//////////////////////////////////////////////////////////////////////////////////////////
// ROOM STYLES

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  font-family: $font-family-base;
}

.app-layer{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.hidden {
  display: none;
}

.main-div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.Aligner {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.Aligner-item {
  padding-top: 1em;
  max-width: 100%;
}

.theme {
  font-size: 2em;
}

.server-id {
  color: white;
}

.btn {
  border-radius: 3.5px;
  color: white;
  font-size: 2em;
  background-color: #555555;
}