//////////////////////////////////////////////////////////////////////////////////////////
// COLORS

$color-brand: rgb(254,18,99);
$color-green: rgb(1,194,112);
$color-red: rgb(251,76,85);
$color-blue: rgb(71,145,252);
$color-bright-green: rgb(0,255,147);

$color-white: #ffffff;
$color-grey1: rgb(245,245,245); //#f5f55f5
$color-grey2: rgb(238,238,238); //#eeeeee
$color-grey3: rgb(204,204,204); //#cccccc
$color-grey4: rgb(177,177,177); //#b1b1b1
$color-grey5: rgb(136,136,136); //#888888
$color-grey6: rgb(102,102,102); //#666666
$color-grey7: rgb(70,70,70); //#464646
$color-grey8: rgb(54,57,62); //#36393e
$color-grey9: rgb(46,49,54); //#2e3136
$color-black: rgb(33,35,38); //#212326